/* Start Header */
@media(max-width:1200px) and (min-width:992px){
    .header{   
        .intro{    
            h1{
                font-size: 30px;    
            }
            p{ 
                margin-bottom: 20px; 
                font-size: 17px; 
            }
        }
        .book-img{
            img{
                width: 350px;
                height: 550px;
            }
        }
    }
}
@media(max-width:991px) and (min-width:768px){
    .header{
        height: 800px;
          img{ 
                margin-top: 20px;
            }
            p{ 
                margin-top: 35px; 
            }
        .intro{
            width: 100%;
            h1{
                margin-left: 10%;
                margin-top: 10%;
                margin-bottom: 72px;
            }
            p{
                margin-top: -39px;
                margin-left: 10%;
                max-width: 50%;
            }
            .btn{
                margin-left: 10%;
                margin-top: 75px !important;
            }
        }
        .book-img{
            width: 100%;
            img{
                width: 350px;
                height: 420px;
                margin-top: 5%;
            }
        }
    }
}
@media(max-width:767px) and (min-width:481px){
    .header{
        height: 800px;
          img{ 
                margin-top: 20px;
                margin-left: 20px;
            }
            p{ 
                margin-top: 35px; 
            }
        .intro{
            width: 100%;
            h1{
                margin-left: 10%;
                margin-top: 15%;
                margin-bottom: 62px;
                font-size: 32px;
                line-height: 1.5;
                max-width: 80%;
            }
            p{
                margin-top: -39px;
                margin-left: 10%;
                max-width: 70%;
                font-size: 16px;
            }
            .btn{
                margin-left: 10%;
                margin-top: 75px !important;
            }
        }
        .book-img{
            width: 100%;
            img{
                width: 350px;
                height: 420px;
                margin-top: 5%;
                margin-left: 10%;
            }
        }
    }
}
@media(max-width:480px) {
    .header{
        height: 700px;
          img{ 
                margin-top: 20px;
                margin-left: 20px;
            }
            p{ 
                margin-top: 35px; 
            }
        .intro{
            width: 100%;
            h1{
                margin-left: 10%;
                margin-top: 15%;
                margin-bottom: 62px;
                font-size: 24px;
                line-height: 1.4;
                max-width: 80%;
            }
            p{
                margin-top: -39px;
                margin-left: 10%;
                max-width: 70%;
                font-size: 13px;
            }
            .btn{
                margin-left: 10%;
                margin-top: 75px !important;
            }
        }
        .book-img{
            width: 100%;
            img{
                width: 230px;
                height: 320px;
                margin-top: 10%;
                margin-left: 10%;
            }
        }
    }
}
/* End Header */

/* Start Feature */
@media(max-width:1200px) and (min-width:992px){
    .feature{
        .feats{
            margin-left: 3%;
        }
    }
}
@media(max-width:991px) and (min-width:768px){
    .feature{
        .lead{
            max-width: 60%;
            margin-left: 20%;  
        }
        .feats{
            margin-left: 30%;
            .feat{
                margin-bottom: 40px;
                img{
                    margin-bottom: 20px;
                } 
                p{ 
                    margin-left: -50px;
                }
            }
        }
    }
}
@media(max-width:767px) and (min-width:481px){
    .feature{
        .lead{ 
            max-width: 90%;
            margin-left: 5%;
        }
        .feats{
            margin-left: 13%;
            .feat{
                margin-bottom: 30px;
                img{
                    margin-left: 36%;
                    margin-bottom: 5px;
                }
                h4{
                    margin-bottom: 20px;
                    margin-left: 26%;
                }
                p{
                    margin-left: 0%;
                    max-width: 95%;
                }
            }
        }
    }
}
@media(max-width:480px) {
    .feature{
        .lead{ 
            max-width: 90%;
            margin-left: 5%;
        }
        .feats{
            margin-left: 13%;
            .feat{
                margin-bottom: 30px;
                img{
                    margin-left: 30%;
                    margin-bottom: 5px;
                }
                h4{
                    margin-bottom: 20px;
                    margin-left: 18%;
                }
                p{
                    margin-left: 0%;
                    max-width: 95%;
                }
            }
        }
    }
}
/* End Features */

/* Start Testimonail */
@media(max-width:1200px) and (min-width:992px){
    .testimonail{
        .owl-theme{
            .items {
                span{   
                    margin-left: 10pc;
                }
                p{
                    font-size: 18px;
                }
                img{           
                    margin-left:28%;              
                }
                h6{
                    font-size: 16px;
                    margin-left:30%;
                }
                h6 + p{  
                    margin-left: 31%;  
                }
            }
        }
    }
}
@media(max-width:991px) and (min-width:601px){
    .testimonail{
        h2{margin-bottom: 50px;}
        .owl-theme{
            .items {
                span{
                   margin-top: 0;
                    margin-left: 6pc;
                }
                p{
                    font-size: 14px;
                    
                }
                img{           
                    margin-left:24%;              
                }
                h6{
                    font-size: 16px;
                    margin-left:27%;
                }
                h6 + p{  
                    margin-left: 28%;  
                }
            }
        }
    }
}
@media(max-width:600px) {
    .testimonail{
        h2{margin-bottom: 40px;}
        .owl-theme{
            .items {
                span{   
                    margin-left: 40%;
                }
                p{
                    font-size: 16px;
                    max-width: 80%;
                    margin-left: 5%;
                }
                img{           
                    margin-left:40%;              
                }
                h6{
                    font-size: 16px;
                    margin-left:41%;
                }
                h6 + p{  
                    margin-left: 42%;  
                }
            }
        }
    }
}
/* End Testimonail */
/* Start Pricing */
@media(max-width:1200px) and (min-width:992px){
    .pricing{
        p{
            width: 42%;
        }
         .item{
             .twelve{
                 margin-left: 37%;
             }
            .btn{
                margin-top: 49%;
                margin-left: 25%;
                }
        }
    }
}
@media(max-width:991px) and (min-width:767px){
    .pricing{
        height: 1300px;
         .item{
            height: 300px;
            .btn{
               margin-top: 63px;
                margin-left: 36%;
                }
            p{
                margin-top:0px;
             }
        }
    }
}
@media(max-width:767px) and (min-width:481px){
    .pricing{
        height: 1300px;
         .item{
            height: 300px;
            .btn{
               margin-top: 63px;
                margin-left: 36%;
                }
            p{
                margin-top:0px;
             }
        }
    }
}
@media(max-width:480px) {
       .pricing{
        height: 1450px;
         .item{
            height: 350px;
            .btn{
               margin-top: 100px;
                margin-left: 36%;
                }
            p{
                margin-top:0px;
             }
        }
    }
}
/* End Pricing*/

/* Start Action*/
@media(max-width:1200px) and (min-width:992px){
    .action{
        height: 440px;
        h2{
            max-width: 80%;
            margin-left: 13%;
            line-height: 1.5;
            margin-top: 80px;
            margin-bottom: 30px;
        }
        .btn{
            margin-left: 41%;
        }
    }
}
@media(max-width:991px) and (min-width:768px){
    .action{
        height: 440px;
        h2{
            max-width: 80%;
            margin-left: 13%;
            line-height: 1.5;
            margin-top: 80px;
            margin-bottom: 30px;
        }
        p{
            max-width: 60%;
            margin-left: 20%;
        }
        .btn{
            margin-left: 41%;
        }
    }
}
@media(max-width:767px) and (min-width:481px){
    .action{
        height: 480px;
        h2{
            font-size:30px;
            max-width: 80%;
            margin-left: 13%;
            line-height: 1.5;
            margin-top: 60px;
            margin-bottom: 30px;
        }
        p{
            max-width: 60%;
            margin-left: 20%;
        }
        .btn{
            margin-left: 35%;
        }
    }
}
@media(max-width:480px) {
    .action{
        height: 460px;
        h2{
            font-size:30px;
            max-width: 80%;
            margin-left: 13%;
            line-height: 1.5;
            margin-top: 60px;
            margin-bottom: 30px;
        }
        p{
            max-width: 60%;
            margin-left: 20%;
        }
        .btn{
            margin-left: 35%;
        }
    }
}
/* End Action */